body{
    font-family: Montserrat;
}
#title{

    color:#ffff;
background-color: #c86796;
padding-left: 10%;
padding-right: 10%;
}
h1,h3,h4,h5,h6{

    font-family:Montserrat-bold 100;
}
h2{
    font-family:Montserrat-bold 20;
    font-size: 3rem;
    line-height: 1.5;
}

p{
    font-family:Montserrat italic;
    color: gray;
}

/*headings*/
.big-heading{
    font-family: Montserrat-bold 1000;
    font-size: 3.5 rem;
    line-height: 1.5;

}



.row{

    padding-top: 8%;
}
.container-fluid{
    padding: 3%  5% 15% 7% ;
}

.navbar{
    padding-bottom: 0 0 0 4.5rem;
}

.navbar-brand{
    font-family: Ubuntu-light-italic;
    font-size: 2.5rem;
    font-weight: bold ;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
font-family: "Montserrat-light" ;}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 22%;

transform: rotate(25deg);

position: absolute;
right: 23%;
}

/*features section*/
#features
{  padding: 7% 15%;
    background-color: #fff;
    position: relative;
z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5% ;

}
.icon{
  /*  color:#F55353; */
  color: #b6e2db;
    margin-bottom: 1rem;

}
/*hover pseudoclass*/
.icon:hover{
     color: #FF4c68; 
   /* color: #CAF7E3; */
}

/*testimonial section*/
#testimonials{
text-align: center;
/*background-color: #F55353; */
background-color: #E4BAD4;
/*color: #ffff; */
color: #53856e;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
margin-top: 20px;
margin-right: 10px;
margin-bottom: 0;
}
/*
.set3{
    padding-top: 20%;
} */
#press{

   /* background-color: #F55353; */
   background-color: #CAF7E3;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}
.carousel-item{
    padding:  15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 0 2%;
}

#cta{ color: #fff;
   /* background-color: #f71c5e; */
   background-color: #E4BAD4;
    text-align: center;
    
  padding: 7% 15%;
}

.cta-heading{
    font-family: Montserrat-extrabold  2000;
    font-size: 3.5rem;
    
    line-height: 1.5;
}  
.btn{
    margin-right:15px ;
}
#footer{ 
    /*background-color: #fff;*/
    background-color: #F8EDED;
    text-align: center;
   padding: 7% 15%;
  
}
.social-icon{
    margin: 20px 10px;
}

/* media queries for responsiveness  */
@media (max-width:1028px) {
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
    #title{
        text-align: center;
    }
}